################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VillaWeb/appsettings.json
/.vs
/VillaWeb/bin/Debug/net9.0
/VillaWeb/obj/Debug/net9.0/compressed
/WhiteLagoon.Application/bin/Debug/net9.0
/WhiteLagoon.Infrastructure/bin/Debug/net9.0
/VillaWeb/obj/Release/net9.0
/WhiteLagoon.Application/obj/Release/net9.0
/WhiteLagoon.Domain/obj/Release/net9.0
/WhiteLagoon.Infrastructure/obj/Release/net9.0
/VillaWeb/obj/Debug/net9.0/rpswa.dswa.cache.json
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.AssemblyInfo.cs
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.AssemblyInfoInputs.cache
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.csproj.AssemblyReference.cache
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.AssemblyInfo.cs
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.AssemblyInfoInputs.cache
/VillaWeb/obj/Debug/net9.0/staticwebassets.removed.txt
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.AssemblyInfoInputs.cache
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.assets.cache
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.csproj.AssemblyReference.cache
/VillaWeb/obj/Debug/net9.0/WhiteLagoon.Web.GeneratedMSBuildEditorConfig.editorconfig
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.AssemblyInfoInputs.cache
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.assets.cache
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.csproj.AssemblyReference.cache
/WhiteLagoon.Application/obj/Debug/net9.0/WhiteLagoon.Application.GeneratedMSBuildEditorConfig.editorconfig
/WhiteLagoon.Infrastructure/obj/Debug/net9.0/WhiteLagoon.Infrastructure.AssemblyInfoInputs.cache
/WhiteLagoon.Infrastructure/obj/Debug/net9.0/WhiteLagoon.Infrastructure.assets.cache
/WhiteLagoon.Infrastructure/obj/Debug/net9.0/WhiteLagoon.Infrastructure.csproj.AssemblyReference.cache
/WhiteLagoon.Infrastructure/obj/Debug/net9.0/WhiteLagoon.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
