################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VillaWeb/appsettings.json
/.vs
/VillaWeb/bin/Debug/net9.0
