################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VillaWeb/appsettings.json
/.vs
/VillaWeb/bin/Debug/net9.0
/VillaWeb/obj/Debug/net9.0/compressed
/WhiteLagoon.Application/bin/Debug/net9.0
/WhiteLagoon.Infrastructure/bin/Debug/net9.0
/WhiteLagoon.Application/Common/Interfaces/IDbInitializer.cs
/WhiteLagoon.Infrastructure/Repository/DbInitializer.cs
/VillaWeb/obj/Release/net9.0
/WhiteLagoon.Application/obj/Release/net9.0
/WhiteLagoon.Domain/obj/Release/net9.0
/WhiteLagoon.Infrastructure/obj/Release/net9.0
